html,body{
	width: 100%;
	height: 100%;
}
#registerLogin {
	position : relative;
	float : left;
	width : 30%;
	height : 500px;
	background
}
#saloon {
	position : relative;
	float : right;
	width :70%;
	height : 500px;
}
#connexion{
	width: 100%;
}

#connexion .card{
	width: 30%;
	display: inline-block;
}

#register {
	margin-left: -5em;
	margin-right: 1em;
}

#errorsRegister {
	color : red;
}

.tile {
	display: ;
}

header{
	width: 100%;
	top:0;
	left:0;
	height: 75px;
	line-height: 75px;
	position: fixed;
	background: #303F9F;
	color: #FFFFFF;
	text-align: center;
}

header h1 {
	display: inline-block;
	text-transform: capitalize;
	margin: auto;
	transition: 1s ease-in-out;
	-webkit-transition: 1s ease-in-out;
}