html,body{
	width: 100%;
	height: 100%;
}

#connexion{
	width: 100%;
	padding-top: 75px;
}

#connexion .card{
	width: 40%;
	display: inline-block;
}

#register {
	margin-left:  6.5%;
	margin-right: 6.5%;
}

#accInfos{
	width: 87%;
	margin:auto;
	display: none;
}

#errorsRegister {
	color : red;
}

#pseudoTitle{
	text-align: center;
}

nav{
	position: fixed;
	display: block;
	width: 100%;
	z-index: 2;
}
.card{padding: 1em;}
#creation{
	width: 100%;
	padding-top: 75px;
	padding-left:  9%;
	padding-right: 9%;
	display: none;
}
.brand-logo{text-transform: capitalize;}
#creation .card{
	width: 40%;
	display: inline-block;
}

#saloon {
	display: none;
	float: right;
	top : -75px;
	min-width: 600px;
}

#creation2{
	float: left;
	top: -75px;
}

#saloon span{
	display: block;
}

#idRoom, #nbJoueurs, #createur, #actions{
	display: inline-block;
	float:left;
}

.title{
	font-weight: bold;
}
#saloon *{
	transition: 1s ease-in;
	-webkit-transition: 1s ease-in;
}
