.pion {
	border-radius: 50%;
	width: 20px;
	height: 20px;
	margin: 3px;
	float: right;
}

#player1{
	background-color: #F44336;
}

#player2{
	background-color: #E91E63;
}

#player3{
	background-color: #1976D2;
}
#player4{
	background-color: #4CAF50;
}
#player5{
	background-color: #FFC107;
}
#player6{
	background-color: #795548;
}

.player0 #player1,.player1 #player2, .player2 #player3,.player3 #player4, .player4 #player5, .player5 #player6{border: 1px solid black;}

.player0{background-color: #F44336;}
.player1{background-color: #E91E63;}
.player2{background-color: #1976D2;}
.player3{background-color: #4CAF50;}
.player4{background-color: #FFC107;}
.player5{background-color: #795548;}