html,body{
	height: 100%;
	width: 100%;
}

#plateau{
	margin:auto;
	float:left ;
}

#plateau * {
	font-size : 1em;
}

.upgrade{
	float: left;
	background: rgba(41, 128, 185,1.0);
	height: 5px;
	width: 5px;
	margin: 1px 1px;
}

.case{
	word-wrap: break-word;
}

.nomPays{display: none;}

.case-horizontal{
	width: 50px;
	height: 100px;
	border: 1px solid rgba(0,0,0,1);
	display: inline-block;

	/* text vertical*/
	-webkit-writing-mode: vertical-lr;
}

.case-vertical{
	width: 100px;
	height: 50px;
	border: 1px solid rgba(0,0,0,1);

}
.case-coin{
	width: 100px;
	height: 100px;
	border: 1px solid rgba(0,0,0,1);
	display: inline-block;
}

#case0{
	background: #795548;

}

#europe,#asie, #case-centrale{
	display: inline-block;
}

#case-centrale{
	background: #795548;
	width: 415px;
	height: 350px;
}	


/* my own things */

#infosPays{

	margin-left: 100px;
	border : 1px solid rgba(0,0,0,1);
	height: : 500px;
	width: 200px;
	float:left ;
}

#infoAccount{
	border : 1px solid rgba(0,0,0,1);
	margin-top:200px;
	margin-left: 720px;
	height: : 500px;
	width: 500px;
}


#pays {
	width: :200px;
	height: 100px;
}

#cartes {
	width: :200px;
	height: 100px;
}


.possede{
	border : 1px solid rgba(0,0,0,1);
	display: inline-block;
	width: 100px;
	height: :100px;
}

#actions{
	margin-top: 200px;
}

