
@font-face {
    font-family: 'robotobold';
    src: url('../fonts/Roboto-Bold-webfont.eot');
    src: url('../fonts/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Bold-webfont.woff2') format('woff2'),
         url('../fonts/Roboto-Bold-webfont.woff') format('woff'),
         url('../fonts/Roboto-Bold-webfont.ttf') format('truetype'),
         url('../fonts/Roboto-Bold-webfont.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotolight';
    src: url('../fonts/Roboto-Light-webfont.eot');
    src: url('../fonts/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Light-webfont.woff2') format('woff2'),
         url('../fonts/Roboto-Light-webfont.woff') format('woff'),
         url('../fonts/Roboto-Light-webfont.ttf') format('truetype'),
         url('../fonts/Roboto-Light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/Roboto-Regular-webfont.eot');
    src: url('../fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Regular-webfont.woff2') format('woff2'),
         url('../fonts/Roboto-Regular-webfont.woff') format('woff'),
         url('../fonts/Roboto-Regular-webfont.ttf') format('truetype'),
         url('../fonts/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

html,body{
	height: 100%;
	width: 100%;
	font-family: robotoregular;

}

#plateau{
	text-align: center;
	font-size: 0px;
}


.upgrade{
	float: left;
	background: rgba(41, 128, 185,1.0);
	height: 5px;
	width: 5px;
	margin: 1px 1px;
}

.case{
	word-wrap: break-word;
	font-size: 14px;
	float: left;
}
.case-horizontal:hover,.case-vertical:hover{cursor: pointer;}

.nomPays{display: none;}

.case-horizontal{
	width: 50px;
	height: 100px;
	border: 1px solid rgba(33,33,33,1);
	display: inline-block;

	/* text vertical*/
	-webkit-writing-mode: vertical-lr;

}

.case-vertical{
	width: 100px;
	height: 50px;
	border: 1px solid rgba(33,33,33,1);

}
.case-coin{
	width: 100px;
	height: 100px;
	border: 1px solid rgba(33,33,33,1);
	display: inline-block;
}

#case0{
	background: #795548;

}

#europe,#asie, #case-centrale{
	display: inline-block;
}

#case-centrale{
	background: #795548;
	width: 415px;
	height: 350px;
}


/* my own things */

.game-infos{
  width: 250px;
  top: 2em;
  float: right;
  right: 2em;
  border: 1px solid rgba(33,33,33,1);
  position: absolute;
  transition: 1s ease-out;
  -webkit-transition: 1s ease-out;
}

.game-infos h2{
	display: block;
	background-color: #303F9F;
	color: rgba(255,255,255,1);
	text-align: center;
	top:0px;
	padding: 1em;
	margin:0;
}
.capitalize{text-transform: capitalize;}
.game-infos ul, .game-infos li{display: block;width:100%; box-sizing : border-box;padding:0;margin:0;}
.game-infos li{padding: 1em 0;margin:0;}
.game-infos .data-infopays{
	text-align: left;
	padding-left: 1em;
	border-bottom: 1px solid #B6B6B6;

}
.game-infos .titre-infopays{
	display: block;
	background-color : #FFC107;
	color: rgba(33,33,33,1);
	text-align:center;
}
.game-infos input{
	padding:1em;
	margin:0;
	display: inline-block;
	border: 0;
	height: 50px;
	background-color: #FFC107;
	color: rgba(33,33,33,1);
	transition: .5s ease-out;
	-webkit-transition: .5s ease-out;
}
#infoAccount li {padding: 0;}
#infoAccount ul#pays li, #infoAccount ul#cartes li, #infoAccount ul#credit li {padding: 1em;}
.padding{padding: 1em!important;}
.game-infos .full{
	width:100%;
	text-align: center;
}
.game-infos .third{
	width: 33.3%;
}
.game-infos .half {width : 50%;}
.game-infos .third:last-of-type{
	border-right: 0px;
}
.game-infos input:hover{cursor: pointer;}
.empty{background: rgba(33,33,33,.7);height: 200px;}
.game-infos input:disabled{
	background-color:#727272;
	cursor: auto;
}
#infoAccount{
	float: left;
	position: absolute;
	left: 2em;
	top: 2em;
	width: 300px;
}

.hypotheque{
	background: #727272;
}

#actions{
	position: absolute;
	float:right;
	right: 33px;
	font-size: 0;
	top: 280px;
	width: 250px;
}

